<!DOCTYPE html>
<title>Etusivu</title>
<h1>WEB KEITTOKIRJA</h1>
<p>
<p>
<b>Tervetuloa</b>!
<p>
Sähköisessä keittokirjassa voit:
<ul>
  <li> lisätä keittokirjaan oman maukkaan reseptisi
  <li> löytää herkullisia reseptejä 
</ul>
<p>
<a href="/luo-uusi-resepti">Luo uusi resepti</a>
<p>
Valitse ruokalaji:
<br>
<form action="/selaa/"  method ="POST">
<select  name="category" method="POST">
<option value="1" selected> Aamupala
<option value="2"> Pääruoka
<option value="3"> Jälkiruoka
</select>
<button type="submit">Valitse</button>
</form>
