<!DOCTYPE html>
<title>Etusivu</title>
<h1>WEB KEITTOKIRJA</h1>
<br>
<b>Tervetuloa</b>!

<br>
{% if session.username %}
<br>Olet kirjautunut käyttäjänä {{ session.username }}</p>
<a href="/my_page">Omat reseptit</a>&nbsp;&nbsp;&nbsp; <a href="/favourite_recipes">Suosikit</a>&nbsp;&nbsp;&nbsp;
<a href="/create_new_recipe">Luo uusi resepti</a>&nbsp;&nbsp;&nbsp; <a href="/logout">Kirjaudu ulos</a>
 
{% else %}
<p>
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username" maxlength="25"></p>
<p>Salasana:<br>
<input type="password" name="password" maxlength="25"></p>
<input type="submit" value="Kirjaudu">
{{message}}
</form>
<p>
<a href="/register">Rekisteröidy</a>
{% endif %}
<p>

<p>
Web keittokirjassa voit:
<ul>
  <li> Selailla muiden laatimia reseptejä ruokalajeittain
  <li> Luoda omia reseptejä
  <li> Tykkäillä muiden resepteistä
  <li> Lisätä reseptejä suosikkeihisi
</ul>
<p>
<br>
<br>
{% if session.username %}
Valitse ruokalaji, jonka reseptejä haluat selailla:
<br>
<form action="/browse_recipes/"  method ="POST">
<select  name="category" method="POST">
<option value="1" selected> Aamupala
<option value="2"> Pääruoka
<option value="3"> Jälkiruoka
<option value="4"> Kaikki
</select>
<button type="submit">Valitse</button>
</form>
{% endif %}
