<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col -12">
      <h1>{{message}}</h1>
        <br>
        <br>
        <a class="btn btn-outline-primary" href="//create_new_recipe">Luo uusi resepti</a>
        <a class="btn btn-primary" href="/">Takaisin etusivulle</a>
    </div>
  </div>
</div>

