<form action="/send" method="POST">
Reseptin nimi (max. 30 merkkiä): <input type="text" name="title" size ="35"minlength="1" maxlength="30"> <br>
Mitä ruokalajia: <select name="category">
<option value="1" selected> aamiainen
<option value="2"> pääruoka
<option value="3"> jälkiruoka
</select>
<p>
Kirjoita resepti (max. 2000 merkkiä): <br>
<textarea name="message" rows="20" cols="70" minlength="1" maxlength = "2000">
Ainekset:

Ohjeet:
</textarea> <br>
<input type="submit" value="Tallenna">
<p>
<a href="/">Takaisin etusivulle</a>
</form>
{{message}}
